<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I am a student at Georgetown Univeristy studying Computer Science, Economics, and Entrepreneurship. I have loved technology's ability to optmizie things for as long as I remember. I have done everything from writing and selling a small calculator program, to installing power windows and led underlights for cars, to programming excel sheets for grocery stores, to writing powershell scripts that automated homework submissions. I hope to do a lot more so please look at my posts and projects if you are interested. My main mission now is to play with image recognition , yes I know this is a cliche topic --- it just has to be better than Cobol. 
</div>