<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I am a student at Georgetown Univeristy studying Computer Science, Economics, and Entrepreneurship. I have loved technology for as long as I remmeber. I have done everything from writing and selling small calculator programs, to installing power windows and led underlights, to programming excel sheets for grocery stores, to writing powershell scripts that automated homework submissions. I have done and plan to do a lot more so please look at my posts and projects if your interested. My main mission now is to learn Machine Learning and later deep learning. While yes this is a stereotypically hot topic I want to see how much I enjoy it --- it just has to be better than Cobol.
</div>